@import "../../../App.scss";

.master {
    // Nav Section
    .nav-section {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 60px;
        padding: 10px;
        background: #fff;
    }

    // Sidemenu Section
    .sidemenu-section {
        @media (min-width: 992px) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9;
            width: 280px;
            height: 100vh;
            overflow-y: auto;
            background: #000;
            transition: 0.5s ease-in-out;
        }
    }

    // Mainmenu
    .mainmenu-section {
        padding-top: 60px;

        @media (min-width: 992px) {
            padding-left: 280px;
            transition: 0.5s ease-in-out;
        }
    }

    // Hide Sidemenu
    .hide-sidemenu {
        left: -100%;
        transition: 0.5s ease-in-out;
    }

    // Hide Mainmenu
    .hide-mainmenu {
        padding-left: 0;
        transition: 0.5s ease-in-out;
    }
}

// https://css-tricks.com/ease-out-in-ease-in-out/