@import "../../App.scss";

.auth {
    width: 100vw;
    height: 100vh;

    .image-container {
        width: 100%;
        height: 100vh;
        position: relative;

        img {
            width: 200px;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.863);

            img {
                width: 200px;
            }

            h2 {
                margin-top: 20px;
                font-weight: 900;
                margin-bottom: 0;
                text-transform: uppercase;
            }

            h5 {
                font-weight: 900;
                margin-bottom: 0;
                margin-bottom: 20px;
                text-transform: uppercase;
            }

            p {
                font-size: 14px;
                color: $secondary;
                margin-bottom: 50px;
            }
        }
    }

    .credential-container {
        width: 100%;
        height: 100vh;

        .card {
            width: 95%;
            background: none;

            img {
                width: 200px;
            }

            h3 {
                font-weight: 700;
                color: $primary;
                font-family: "Roboto", sans-serif;
            }

            p {
                font-size: 13px;
                margin-left: 3px;
                margin-bottom: 3px;
                font-family: "Roboto", sans-serif;
            }

            a {
                color: $secondary;
                font-size: 13px;
                font-weight: 500;
                text-decoration: none;
                transition: 0.2s all;
                font-family: "Roboto", sans-serif;
            }

            a:hover {
                color: $primary;
            }

            @media (min-width: 576px) {
                width: 360px;
            }
        }
    }
}
