@import "../../App.scss";

.auth {
    width: 100vw;
    height: 100vh;

    .image-container {
        width: 100%;
        height: 100vh;
        position: relative;

        img {
            height: 100%;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.74);

            img {
                height: 50px;
            }
        }
    }

    .credential-container {
        width: 100%;
        height: 100vh;
        .card {
            width: 95%;

            h3 {
                font-weight: 700;
                color: $primary;
                font-family: "Roboto", sans-serif;
            }

            p {
                font-size: 13px;
                margin-left: 3px;
                margin-bottom: 3px;
                font-family: "Roboto", sans-serif;
            }

            .form-control {
                color: #000;
                height: 36px;
                font-size: 13px;
                background: #e9e8e8;
                font-family: "Roboto", sans-serif;
                border: 1px solid #e9e8e8;
            }

            .form-control:focus {
                background: #fff;
                border: 1px solid #e9e8e8;
            }

            a {
                color: $secondary;
                font-size: 13px;
                font-weight: 500;
                text-decoration: none;
                transition: 0.2s all;
                font-family: "Roboto", sans-serif;
            }

            a:hover {
                color: $primary;
            }

            .btn {
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                padding: 7px 30px;
                background: $primary;
                font-family: "Roboto", sans-serif;
            }

            @media (min-width: 576px) {
                width: 360px;
            }
        }
    }
}
