@import "../../App.scss";

.layout {
    // Navbar Container
    .navbar-container {
        z-index: 99;
        padding: 10px;
        position: fixed;
        background: #fff;

        /* Mobile */
        @media (max-width: 992px) {
            top: 0;
            left: 0;
            right: 0;
        }

        /* Desktop */
        @media (min-width: 992px) {
            top: 20px;
            left: 320px;
            right: 20px;
            border-radius: 4px;
        }
    }

    // Sidebar Container
    .sidebar-container {
        .sidebar {
            padding: 15px;

            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;

                    .btn {
                        color: #000;
                        padding: 8px 15px;
                        width: 100%;
                        font-size: 14px;
                        text-align: left;
                        border-radius: 4px;
                        transition: 0.3s all;

                        i {
                            margin-right: 5px;
                        }

                        .arrow {
                            float: right;
                        }
                    }

                    .isActive {
                        color: #fff;
                        background: $primary;
                        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
                    }

                    .sidebar-dropdown-container {
                        .arrow {
                            -moz-transition: all 0.3s linear;
                            -webkit-transition: all 0.3s linear;
                            transition: all 0.3s linear;
                        }

                        .sidebar-dropdown-menu {
                            width: 100%;
                            padding-left: 40px;
                        }

                        .menu-hide {
                            display: none;
                        }

                        .down {
                            -moz-transform: rotate(90deg);
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                        }
                    }
                }
            }
        }

        // Mobile
        @media (max-width: 992px) {
            .backdrop {
                position: fixed;
                top: 0;
                left: 0%;
                width: 100vw;
                height: 100vh;
                z-index: 99;
                overflow-y: auto;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.4s;
                background: rgba(0, 0, 0, 0.548);
            }

            .open-backdrop {
                visibility: visible !important;
                opacity: 1 !important;
                transition-delay: 0s !important;
            }

            .sidebar {
                position: fixed;
                top: 0;
                left: -100%;
                width: 280px;
                height: 100%;
                padding-top: 15px;
                overflow-y: auto;
                transition: 0.3s;
                background: #fff;
                border-radius: 0;
                overflow-x: hidden;
                transition-timing-function: ease-out;
                z-index: 999;
            }

            .open-sidebar {
                left: 0 !important;
            }
        }

        /* Desktop */
        @media (min-width: 992px) {
            position: fixed;
            width: 320px;
            height: 100vh;
            z-index: 999;
            padding: 20px;

            .sidebar {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #fff;
                border-radius: 7px;
                overflow-x: hidden;
                overflow-y: auto;
            }
        }
    }
}
