@import "../../App.scss";

.custom-navbar {
    ul {
        margin: 0;
        padding: 0;

        li {
            float: left;
            list-style: none;
            margin-left: 5px;

            .btn {
                padding: 5px 6px;
                border-radius: 50% !important;
            }

            .btn:focus {
                background: $muted;
            }

            p {
                margin-top: 4px;
                font-size: 14px;
                font-weight: 500;
            }

            .name-circle {
                width: 30px;
                height: 30px;
                background: #7267f02f;

                h5 {
                    color: #7367f0;
                    font-weight: 600;
                    margin-bottom: 0;
                    font-size: 15px;
                    text-transform: uppercase;
                }
            }
        }
    }

    img {
        height: 30px;
    }
}
