@import "../../App.scss";

.custom-navbar {
    ul {
        margin: 0;
        padding: 0;

        li {
            float: left;
            list-style: none;
            margin-left: 5px;

            // Dropdown Customize
            .dropdown {
                .btn {
                    padding: 5px 6px;
                    border-radius: 50% !important;
                    background: none !important;
                    border: 0 !important;
                }

                .dropdown-toggle::after {
                    display: none;
                }

                .btn:focus {
                    background: $muted !important;
                }

                .dropdown-menu {
                    border: 0 !important;
                    padding: 0 !important;
                    border-radius: 3px !important;
                    overflow: hidden !important;

                    .dropdown-body {
                        .dropdown-item {
                            font-size: 14px;
                            width: 280px !important;
                            padding: 15px !important;
                            border-bottom: 1px solid #dfdfdf;

                            .img-container {
                                width: 30px;
                                height: 30px;
                                overflow: hidden;
                                border-radius: 50% !important;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .content-container {
                                margin-left: 10px;

                                .title {
                                    color: #000;
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin-bottom: 10px;
                                    line-height: 15px;
                                }

                                .message, .time {
                                    color: #555;
                                    font-size: 12px;
                                    font-weight: 400;
                                    margin-bottom: 0px;
                                    line-height: 12px;
                                }
                            }
                        }

                        .dropdown-item:focus {
                            background: #f8f9fa !important;
                        }

                        .empty-container {
                            padding-top: 10px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #dfdfdf;

                            img {
                                height: 100px;
                            }

                            p {
                                font-size: 13px;
                                font-weight: 400;
                            }
                        }
                    }

                    .dropdown-footer {
                        .dropdown-item {
                            font-size: 13px;
                            font-weight: 500;
                            text-align: center;
                            width: 280px !important;
                            padding: 10px !important;
                        }

                        .dropdown-item:focus {
                            color: #000 !important;
                            background: #f8f9fa !important;
                        }
                    }
                }
            }

            .btn {
                padding: 5px 6px;
                border-radius: 50% !important;
            }

            .btn:focus {
                background: $muted;
            }

            p {
                margin-top: 5px;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    img {
        height: 30px;
    }
}
