@import "../../App.scss";

.search-component {
    form {
        .input-container {
            position: relative;
            overflow: hidden;
            border-radius: 25px;

            .form-control {
                font-size: 14px;
                padding-left: 12px;
                padding-right: 35px;
                border-radius: 25px;
                height: 37px !important;
                border: 1px solid #e9e8e8;

                &:focus {
                    border: 1px solid #dfdfdf;
                }
            }

            .error {
                border: 1px solid $danger !important;
            }

            .btn {
                position: absolute !important;
                top: 0 !important;
                right: 0 !important;
                border-radius: 0 !important;
                padding: 3px 10px !important;
                height: 37px !important;
                background: none !important;

                i {
                    color: $primary;
                }
            }
        }
    }
}
