@import "../../../App.scss";

// seller profile
.seller-profile {
    .card {
        overflow: hidden;
        border-radius: 6px;

        .card-header {
            h6 {
                margin-top: 8px;
                font-weight: 500;
                color: $secondary;
            }

            .btn {
                color: #fff;
                padding: 5px 6px;
                background: $primary;
            }
        }

        .card-body {
            .vendor-profile-container {
                // Name circle
                .name-circle {
                    width: 80px;
                    height: 80px;
                    margin-top: 10px;
                    background: #7267f02f;

                    h1 {
                        color: #7367f0;
                        font-weight: 500;
                        margin-bottom: 0;
                        text-transform: uppercase;
                    }

                    @media (max-width: 576px) {
                        margin: auto;
                        margin-bottom: 20px;
                    }
                }
            }

            h6 {
                font-size: 15px;
            }

            // Information Table
            table {
                tbody {
                    tr {
                        td {
                            color: rgba(0, 0, 0, 0.671);
                            font-size: 13px;
                            text-transform: capitalize;
                            margin-bottom: 5px;
                        }

                        .title-td {
                            min-width: 110px;
                            font-weight: 500;
                        }
                    }
                }
            }

            p {
                color: rgba(0, 0, 0, 0.671);
                font-size: 13px;
                text-transform: capitalize;
                margin-bottom: 5px;
            }
        }
    }
}
